body, p, h1, h2, h3, h4, h5{
	font-weight: 300 !important;
}
.hide{
	transition: opacity .5s !important;
	opacity: 0;
}
.show{
	transition: opacity .5s !important;
	opacity: 1;
}
.logo{
	width: 80%;
}
.jumbotron{
	height: 100vh;
	width: 100%;
	display: table;
	margin-bottom: 0;
	background: -webkit-linear-gradient(left, #6B7550 40%, #E5E1C2 125%) #6B7550;
	background: -moz-linear-gradient(left, #6B7550 40%, #E5E1C2 125%) #6B7550;
	background: -ms-linear-gradient(left, #6B7550 40%, #E5E1C2 125%) #6B7550;
	background: linear-gradient(to right, #6B7550 40%, #E5E1C2 125%) #6B7550;
	color: white;
	-moz-box-shadow: 0 10px 15px rgba(83, 83, 83, 0.52);
	box-shadow: 0 10px 15px rgba(83, 83, 83, 0.52);
	transition: height 1s;
	z-index: 1000!important;
	
}
.heading{
	display: table-cell;
	vertical-align: middle;
}
.btn{
	background-color: #FFE58C;
	color: rgba(0, 0, 0, 0.56);
	-moz-box-shadow: 7px 7px 13px rgba(67, 67, 67, 0.54);
	box-shadow: 7px 7px 13px rgba(67, 67, 67, 0.54);
	transition: box-shadow .2s, -moz-box-shadow .5s;
}
.btn:hover{
	-moz-box-shadow: 10px 10px 20px rgba(64, 64, 64, 0.42);
	box-shadow: 10px 10px 20px rgba(64, 64, 64, 0.42);
}
.btn:active{
	-moz-box-shadow: 5px 5px 20px rgba(64, 64, 64, 0.42);
	box-shadow: 5px 5px 20px rgba(64, 64, 64, 0.42);
	background-color: #fee078;
}
.port div{
	height: 300px;
}
.port a{
	transition: opacity .5s;
}
.port a:hover{
	
	opacity: .6;
}
.portimg{
	height: 100%;
}
.two{
	background-color: #8d8372;
}
.three{
	background-color: black;
}
.four{
	background-color: #d50f0e;
}
.seven{
	background-color: #1b1c1e;
}

/***.one{
	
	
}
.two{
	background-image: url(../img/impactlogo.jpg);
	background-size: cover;
}
.three{
	background-image: url(../img/broadlogo.png);
	background-size: cover;
	background-color: black;
}
.four{
	background-image: url(../img/wellthenlogo.png);
	background-size: cover;
	background-position: bottom;
}
.five{
	background-image: url(../img/nasunilogo.png);
	background-size: cover;
}
.seven{
	background-image: url(../img/eldarion.png);
	background-size: cover;
	background-position: center;
	margin: 0 !important;
}
**/

.row{
}
.services{
	height: 500px;
}
.contact{
	height: 500px;
}
.testimonials{
	height: 500px;
}

.footer-div {
	background-color: black; 
	color: white;
}

@media (max-width: 800px) {

	.logo{
		width: 100%;
	}
	.jumbotron h2{
		font-size: 1.5em;
		font-weight: 300;
	}
	.jumbotron h4{
		font-size: 1.2em;
	}
	
	.eight, .six{
		margin-top: 20px !important;
	}
}


