.services img{
	width: 80%;
}
body, p, h1, h2, h3, h4, h5, .btn{
	font-weight: 300 !important;
	font-family: 'open sans', sans-serif !important;
}
.btn{
	font-weight: 400 !important;
}

.hide{
	transition: opacity .5s !important;
	opacity: 0;
}
.show{
	transition: opacity .5s !important;
	opacity: 1;
}
.logo{
	width: 80%;
}
.jumbotron{
	height: 100vh;
	width: 100%;
	display: table;
	margin-bottom: 0;
	background: -moz-linear-gradient(left, #5f6747 40%, #d4d0b4 125%) #6B7550;
	background: -ms-linear-gradient(left, #5f6747 40%, #d4d0b4 125%) #6B7550;
	background: linear-gradient(to right, #5f6747 40%, #d4d0b4 125%) #6B7550;  
	color: white;
	-moz-box-shadow: 0 10px 15px rgba(83, 83, 83, 0.52);
	box-shadow: 0 10px 15px rgba(83, 83, 83, 0.52);
	transition: height 1.5s;
	z-index: 1000 !important;

}
.heading{
	display: table-cell;
	vertical-align: middle;
}
.btn{
	background-color: #F0F5F2;
	color: #2f5e50;
	-moz-box-shadow: 7px 7px 13px rgba(67, 67, 67, 0.54);
	box-shadow: 7px 7px 13px rgba(67, 67, 67, 0.54);
	transition: box-shadow .2s, -moz-box-shadow .5s;
	opacity: .95;
}
.btn:hover{
	-moz-box-shadow: 10px 10px 20px rgba(64, 64, 64, 0.42);
	box-shadow: 10px 10px 20px rgba(64, 64, 64, 0.42);
	opacity: 1.0;
	transition: opacity 1s;
	color: #5f6747;
}
.btn:active{
	-moz-box-shadow: 5px 5px 20px rgba(64, 64, 64, 0.42);
	box-shadow: 5px 5px 20px rgba(64, 64, 64, 0.42);
	background-color: #F0F5F2;
	color: #5f6747;
}
.port div{
	height: 300px;
	overflow-x: hidden;
}
.portdiv{
	
}
.portimg{
	height: 95%;
	opacity: .55;
	transition: opacity .5s;
}

.portimg:hover {
	opacity: 1.0;
	transition: opacity .5s;
}

.two{
	background-color: #795548;
}
.three{
	background-color: black;
}
.four{
	background-color: #e9e9e9;
}

.five {
	background-color: white;
}

.seven{
	background-color: #1b1c1e;
}


.row{
}

* {
	font-family: "open-sans";
}

.fancybox-title .child {
    font-family: "open sans", sans-serif !important;
    font-weight: 300 !important;
    font-size: 2.5em;
    background: transparent !important;
}
.services {
	background-color: #667e8b;
	opacity: .95;
	color: white;
	padding: 10px 0;
}

.anchor,
.anchor:hover,
.anchor:active,
.anchor:visited {
	text-decoration: none; 
	color: white;
}

.eagle {
	border-radius: 20px;
	box-shadow: 3px 3px 2px gray;
}

.anchor:hover {
	opacity: .7;
	transition: opacity 1s;
}

.services h2 {
	color: white;
	
}
.services p{
	font-size: 1.5em !important;
}
.serviceimg{
	height: 80%;
}

h2 {
	font-weight: 400 !important;
	font-size: 3em;
	font-family: 'Patua One', sans-serif !important;
}
.head{
	padding: 20px 0;
}

.contact {
	padding: 2em 0 4.9em 0;
	
}
.contact h2{
	padding-bottom: .5em;
	margin-top: -5px;
	margin-bottom: 20px;
	color: #F0F5F2;
}
.con{
	color: white;
	opacity: .8;
	padding: 0 1.5em;
}
.con:hover{
	color: white;
	opacity: 1;
}
.testi {
	padding-bottom: 2em;
}

.testimonials {
	background: linear-gradient(to left, #F0F5F2 40%, white 125%) #F0F5F2;
	color: #9e9e9e;
}

.testimonials h2 {
	color: #777;
	font-weight: 900;
}

.footer-div {
	background-color: #0d2238;
	opacity: .95;
	color: white;
}
.footer-div h2{
	margin-bottom: -5px;
	color: #F0F5F2;
}

.btn {
	margin-top: 10px;
}

#ital {
	font-style: italic;
}


@media (max-width: 768px) {
	
	.logo{
		width: 100%;
	}
	.jumbotron h2{
		font-size: 1.5em;
		font-weight: 300;
	}
	.jumbotron h4{
		font-size: 1.2em;
	}

	.eight, .six{
		margin-top: 20px !important;
	}
}
@media (max-width: 768px) {
	.con{
		display: block;
		padding: 20px;
	}
	.testi{
		border-bottom: 1px solid rgba(0, 0, 0, 0.43);
		margin-bottom: 3em;
	}
}

@media (max-width: 768px) {
	.portimg,
	.btn {
		opacity: 1.0;
	}

	.btn {
		margin-top: 25px !important;
	}
}
@keyframes fadein {
	0%{
		opacity: 0;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	100%{
		opacity: 1;
	}
}
#top{
	animation: fadein .2s linear;
	transition: width .2s;
	position: fixed;
	bottom: 40px;
	right: 40px;
	background-color: #F0F5F2;
	padding: 10px 20px;
	border-radius: 2px;
	z-index: 10000 !important;
	cursor: pointer;
	-moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.34);
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.34);
}
#top i{
	color: #101125;
}
#top:hover{
	cursor: pointer !important;
}
.hide{
	transition: opacity .5s;
	display: none;
}